Package: net.orangefractal.ArcadeKeypad
Name: Arcade Keypad
Version: 1.0
Architecture: iphoneos-arm
Description: Arcade style keypad in black and white
Homepage: http://orangefractal.net
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
