Package: net.orangefractal.ZeppelinSonictheHedgehog
Name: Zeppelin - Sonic the Hedgehog
Version: 1.0
Architecture: iphoneos-arm
Description: Sonic the Hedgehog Zeppelin icons
Homepage: http://repo.orangefractal.net
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
