Package: net.orangefractal.PrecursorKeypad
Name: Keypad - Precursor
Version: 1.0.3
Architecture: iphoneos-arm
Description: Precusor style keypad in black and white
Depiction: http://repo.orangefractal.net/depictions/PrecursorKeypad.html
Homepage: http://github.com/orangefractal
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
