Package: net.orangefractal.LCDKeypad
Name: Keypad - LCD
Version: 1.0.2
Architecture: iphoneos-arm
Description: LCD style keypad in black and white
Depiction: http://repo.orangefractal.net/depictions/LCDKeypad.html
Homepage: http://github.com/orangefractal
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
