Package: net.orangefractal.LockGlyphWorldofWarcraft
Name: LockGlyph - World of Warcraft
Version: 1.0.1
Architecture: iphoneos-arm
Description: World of Warcraft style Lockglyph icons
Depiction: http://repo.orangefractal.net/depictions/LockGlyphWorldofWarcraft.html
Homepage: http://github.com/orangefractal
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
