Package: net.orangefractal.w0rdKeypad
Name: Keypad - w0rd
Version: 1.1
Architecture: iphoneos-arm
Description: A numbered and worded keypad in black and white
Depiction: http://repo.orangefractal.net/depictions/w0rdKeypad.html
Homepage: http://github.com/orangefractal
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
