Package: net.orangefractal.LockGlyphJakandDaxter
Name: LockGlyph - Jak and Daxter
Version: 1.0
Architecture: iphoneos-arm
Description: Jak and Daxter style Lockglyph icons
Homepage: http://repo.orangefractal.net
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
