Package: net.orangefractal.Snipe
Name: Snipe Message Bubbles
Version: 1.0
Architecture: iphoneos-arm
Description: Snipe stylized message bubbles
Homepage: http://repo.orangefractal.net
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
