Package: net.orangefractal.LockGlyphKingdomHearts
Name: LockGlyph - Kingdom Hearts
Version: 1.0
Architecture: iphoneos-arm
Description: Kingdom Hearts style Lockglyph icons
Homepage: http://repo.orangefractal.net
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
