Package: net.orangefractal.Snipe
Name: Message Bubbles - Snipe
Version: 1.0.1
Architecture: iphoneos-arm
Description: Snipe stylized message bubbles
Depiction: http://repo.orangefractal.net/depictions/Snipe.html
Homepage: http://github.com/orangefractal
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
