Package: net.orangefractal.RomanKeypad
Name: Keypad - Roman Numeral
Version: 1.0.1
Architecture: iphoneos-arm
Description: Roman Numeral style keypad in black and white
Depiction: http://repo.orangefractal.net/depictions/RomanKeypad.html
Homepage: http://github.com/orangefractal
Maintainer: OrangeFractal <OrangeFractal@gmail.com>
Author: OrangeFractal <OrangeFractal@gmail.com>
Section: Themes
